<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
 <servlet>
  <servlet-name>GAEJCronServlet</servlet-name>
  <servlet-class>org.ap.storyvelocity.server.GAEJCronServlet</servlet-class>
 </servlet>
 <servlet>       
  <servlet-name>GAEDeleteRecordsCronServlet</servlet-name>
  <servlet-class>org.ap.storyvelocity.server.GAEDeleteRecordsCronServlet</servlet-class>
</servlet>
 
<servlet-mapping>
  <servlet-name>GAEDeleteRecordsCronServlet</servlet-name>
  <url-pattern>/ap_story_velocity_dashboard/deletecronservlet</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>GAEJCronServlet</servlet-name>
  <url-pattern>/ap_story_velocity_dashboard/cronservlet</url-pattern>
</servlet-mapping>


  <!-- Servlets -->
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>org.ap.storyvelocity.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/ap_story_velocity_dashboard/login</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>storyService</servlet-name>
    <servlet-class>org.ap.storyvelocity.server.StoryServiceImpl</servlet-class>
  </servlet> 
  
 <servlet-mapping>
    <servlet-name>storyService</servlet-name>
    <url-pattern>/ap_story_velocity_dashboard/story</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>AP_Story_Velocity_Dashboard.html</welcome-file>
  </welcome-file-list>

</web-app>
